<style>
  .form-item {
    margin-bottom: 12px;
    display: block;
  }

  input, select, button {
    font-size: 16px; 
    padding: 0px;
    background-color: transparent;
    border: 1px solid black;
    max-width: 100px;
  }
</style>

<form hx-post="/rsvp"
      hx-target="#rsvp-result"
      hx-target-error="#rsvp-error"
      hx-swap="innerHTML">

  <label class="form-item">
    Name 
    <input name="name" required />
  </label>

  <label class="form-item">
    Email 
    <input type="email" name="email" required />
  </label>

  <label class="form-item">
    Attending? 
    <select style="border: none; font-family: serif;" name="attending" required>
      <option value="">Select</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </label>

  <button style="color: black; font-family: serif; border: none;"type="submit">Submit</button>
</form>

<div id="rsvp-error" hx-swap-oob="true" style="color: red;"></div>
